In [1]:
import pandas as pd

In [7]:
user_data = pd.read_csv('C:/Users/User/Desktop/DataAnalitics/task-3/mini_project2/user_data.csv')
logs = pd.read_csv('C:/Users/User/Desktop/DataAnalitics/task-3/mini_project2/logs.csv')

In [9]:
logs.platform.value_counts()

phone       2753
computer    1505
tablet       242
Name: platform, dtype: int64

In [11]:
logs.nunique()

client      4011
success        2
platform       3
time        4376
dtype: int64

In [13]:
user_data.shape

(2954, 3)

In [14]:
user_data.dtypes

client     int64
premium     bool
age        int64
dtype: object

In [18]:
user_data.isna().sum() # ищет пропущенные значения True

client     0
premium    0
age        0
dtype: int64

In [20]:
user_data.describe()

             client          age
count   2954.000000  2954.000000
mean   50767.886594    44.196005
std    28800.505847    14.248336
min       40.000000    20.000000
25%    25639.500000    32.000000
50%    51569.500000    44.000000
75%    75963.250000    56.000000
max    99973.000000    69.000000

In [23]:
logs.isna().sum()

client      0
success     0
platform    0
time        0
dtype: int64

In [24]:
logs.dtypes

client       int64
success       bool
platform    object
time         int64
dtype: object

In [25]:
logs.describe()

             client          time
count   4500.000000  4.500000e+03
mean   50998.758000  1.585440e+09
std    28374.472495  2.314866e+04
min       40.000000  1.585400e+09
25%    27056.500000  1.585420e+09
50%    52659.000000  1.585440e+09
75%    76001.250000  1.585461e+09
max    99993.000000  1.585480e+09

In [62]:
success_number = logs.query('success == True')\
                    .groupby('client', as_index=False)\
                    .agg({'platform': 'count'})\
                    .rename(columns={'platform': 'success_num'})\
                    .sort_values('success_num', ascending=False)

In [63]:
max_success = success_number.success_num.max()

In [64]:
suxful_clients = success_number.query('success_num == @max_success') \
                .sort_values('client') \
                .client \
                .tolist()

In [65]:
suxful_clients

[12179, 28719, 36165, 52870, 61468, 61473, 78349, 82563, 92584]

In [66]:
', '.join([str(client) for client in suxful_clients])

'12179, 28719, 36165, 52870, 61468, 61473, 78349, 82563, 92584'

In [79]:
success_number_2 = logs \
                    .groupby('client', as_index=False)\
                    .agg({'success': 'sum'})\
                    .rename(columns={'success': 'success_num2'})\
                    .sort_values('success_num2', ascending=False)

In [80]:
success_number.head()

      client  success_num
332    12179           41
1758   61468           41
1487   52870           41
1759   61473           41
2626   92584           41

In [81]:
success_number_2.head()

      client  success_num2
3300   82563            41
1426   36165            41
2095   52870            41
468    12179            41
2469   61473            41

In [88]:
max_success2 = success_number_2.success_num2.max()

In [90]:
suxful_clients2 = success_number_2.query('success_num2 == @max_success2') \
                .sort_values('client') \
                .client \
                .tolist()

In [91]:
suxful_clients2

[12179, 28719, 36165, 52870, 61468, 61473, 78349, 82563, 92584]

In [92]:
suxful_clients

[12179, 28719, 36165, 52870, 61468, 61473, 78349, 82563, 92584]

In [95]:
suxful_clients == suxful_clients2

True